* {
    box-sizing: border-box;
    
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #E5EFF8;
}

.Log {
    border: 0px solid;
    border-radius: 0.5rem 0px 0px 0.5rem;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    align-items: center;
    background: #FCFEFF;

}
.Log .main_text {
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
    margin-top: 17vh;
    margin-bottom: 0;
}
.Log .email {
    width: 42vw;
    height: 6vh;
    padding: 0 2em;
    border: 0px;
    border-radius: 10px;
    background: rgba(176, 186, 195, 0.40);  
}
.Log .text_email {
    width: 41vw;
    display: flex;
    justify-content: flex-start;
    color: #7C838A;
    margin-top: 10vh;
    margin-bottom: 0;
}
.Log .password {
    padding: 0 2em;
    width: 42vw;
    height: 6vh;
    border: 0px;
    border-radius: 10px;
    background: rgba(176, 186, 195, 0.40);
}
.Log .text_pass {
    width: 41vw;
    display: flex;
    justify-content:flex-start ;
    color: #7C838A;
    margin-top: 5vh;
    margin-bottom: 0;
}
.Log .log_here {
    margin-top: 7vh;
    width: 42vw;
    height: 6vh;
    border: 0px;
    border-radius: 10px;
    background: #E5EFF8;
    font-size: 20px;
    font-weight: 500;
}
.Log .or {
    margin-top: 5vh;
    color: #B0BAC3;
    font-size: 26px;
}
.CreateAccount {
    display: flex;
    flex-direction: row;
    width: 19vw;
    justify-content: space-between;

}
.CreateAccount a {
    color:  #6EB6FF;
    text-decoration: none;
    font-size: 15px;
}
.CreateAccount p {
    margin: 0;
    color: #7C838A;
    font-size: 15px;
}


/*Свойства левой стороны */
.Log_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;

}
.img {
    width: 50vm;
    height: 50vh;
}




/* Microsoft Lumia 550 */
@media screen and (max-width: 1269px) {
    .Log {
        width: 100vw;
        display: flex;
        height: 100%;
    }
    .Log_img {
        display: none;
        width: 0;
    }
    .img {
        display: none;
    }
    .CreateAccount {
        width: 40vw;
    }
    
}
/* Iphone 17 pro max */
@media screen and (max-width: 480px) {
    .Log {
        width: 100vw;
        display: flex;
        height: h-full;
    }
    .SignUp_img {
        display: none;
        width: 0;
    }
    .img {
        display: none;
    }
    .Age_Gender{
        width: 70vw;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .age {
        width: 15vw;
    }
    #age {
        width: 8vw;
    }
    .Gender {
        width: 40vw;
    }
    .Log_box {
        width: 60vw;
    }
}